@using Dillans.Models
@model List<Dillans.Models.PizzaGroup>

@foreach (var group in Model.Where(x => x.Pizzas.Count > 0))
{
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading">
            @group.Name
        </li>

        @foreach (var pizza in group.Pizzas)
        {
            <li class="list-group-item">
                <div>
                    <strong>@pizza.Name</strong>
                </div>

                @foreach (var ingredient in pizza.Ingredients)
                {
                    <span>@ingredient.Description(),</span>
                }
            </li>
        }
    </ul>
}
