@using Dillans.Models
@model Dillans.ViewModels.FilterViewModel

@{
    ViewBag.Title = "Filter";
}

<div class="container">
    <div class="row">
        @using (Html.BeginForm())
        {

            <div class="col-xs-6 col-sm-3">
                @Html.DropDownList("Ingredient", new SelectList(Model.FreeIngredients), new { @class = "form-control" })
            </div>

            <div class="col-xs-6 col-sm-2">
                <button type="submit" class="btn btn-default btn-block">
                    <span class="glyphicon glyphicon-filter"></span>
                    Add to filter
                </button>
            </div>
        }
    </div>
</div>

@if (Model.UsedIngredients.Count > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-2">
                @using (Html.BeginForm("ClearFilter", "Home", FormMethod.Post))
                {
                    <div style="margin-bottom: 5px; margin-top: 25px;">
                        <button type="submit" class="btn btn-default btn-xs btn-block">
                            <span class="glyphicon glyphicon-trash"></span>
                            Clear
                        </button>
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-5">
                @using (Html.BeginForm("RemoveFilter", "Home", FormMethod.Post))
                {
                    <ul class="list-group">
                        @foreach (var ingredient in Model.UsedIngredients)
                        {
                            <li class="list-group-item" style="padding: 5px;">
                                <div class="row">
                                    <div class="col-xs-10 col-sm-10">
                                        @ingredient
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                        <button type="submit" name="ingredient" value="@ingredient" class="btn-link" style="color: red;">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
}

<div class="" style="margin-top: 10px;"></div>
@Html.Partial("_DisplayPizzas", Model.PizzaGroups)











