@using Dillans.Models
@model Dillans.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Dillans";
}

@foreach (var group in Model.PizzaGroups)
{
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading">
            @group.Name
        </li>

        @foreach (var pizza in group.Pizzas)
        {
            <li class="list-group-item">
                <div>
                    <strong>@pizza.Name</strong>
                </div>

                @foreach (var ingredient in pizza.Ingredients)
                {
                    <span>@ingredient.Description(),</span>
                }
            </li>
        }
    </ul>
}

