body {
    padding-top: 75px;
    padding-bottom: 20px;

    background: url(Images/background.jpg) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    background-attachment: fixed !important;
    width:100%;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

@media (max-width: 384px) {
     .body-content {
         margin: 0px;
         padding: 2px;
     }
}

@media (min-width: 400px) {
     .container {
         width: 392px;
     }
}

@media (min-width: 768px) {
     .container {
         width: 760px;
     }
}

/*.navbar-collapse {
    background: rgba(0, 0, 0, 0.25);
}

.collapse {
    background: transparent;
}*/



/*@media (min-width: 1000px) {
     .container {
         width: 992px;
     }
}

@media (min-width: 1600px) {
    .container {
        width: 1592px;
    }
}*/
